@page "/"

@if (isLoading)
{
	<div class="spinner"></div>
}
else if (!isLoading && Contributions.Any())
{
	<SearchBar SearchTerm="@searchTerm" SearchTermChanged="@SearchTermChanged"></SearchBar>

	<MudTabs ActivePanelIndex="@activeTabIndex" ActivePanelIndexChanged="ActiveIndexChanged">
		<MudTabPanel Text="For Loop">
			<div class="tab-container">
				<ContributionForLoop Contributions="Contributions" SearchTerm="@searchTerm" Searching="@searching" ContributionClicked="EventUtils.AsNonRenderingEventHandler((int id) => ContributionClicked(id))"></ContributionForLoop>
			</div>
		</MudTabPanel>
		<MudTabPanel Text="Virtualize">
			<div class="tab-container">
				<ContributionVirtualize Contributions="Contributions" SearchTerm="@searchTerm" Searching="@searching" ContributionClicked="EventUtils.AsNonRenderingEventHandler((int id) => ContributionClicked(id))"></ContributionVirtualize>
			</div>
		</MudTabPanel>
		<MudTabPanel Text="Virtualize with ItemProvider">
			<div class="tab-container">
				<ContributionVirtualizeWithProvider @ref="_virtualize" SearchTerm="@searchTerm" Searching="@searching" ContributionClicked="EventUtils.AsNonRenderingEventHandler((int id) => ContributionClicked(id))"></ContributionVirtualizeWithProvider>
			</div>
		</MudTabPanel>
	</MudTabs>

}
else
{
	<p>Keine Contributions gefunden....</p>
}